<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Uso de {{ title }}
  </h1>
  <p-messages [(value)]="msgs"></p-messages>
  
  <button type="button" (click)="showSuccess()">Bien!</button>
  <button type="button" (click)="showInformation()">Información!</button>
  <button type="button" (click)="showWarning()">Peligro!</button>
  <button type="button" (click)="showError()">Error!</button>
  <button type="button" (click)="hide()">Ocultar todo</button>
</div>